<!DOCTYPE html>
<html>
<head>
  <title>投稿一覧</title>
  <link rel="stylesheet" href="path/to/your/styles.css">
</head>
<body>

<div class="container">
  <h1 class="text-center py-5">投稿一覧</h1>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>名前</th>
        <th>バックグラウンド</th>
        <th>本文</th>
        <th>コメント数</th>
        <th>いいね</th>
      </tr>
    </thead>
    <tbody>
      <% @grants.each do |grant| %>
        <tr>
          <td><%= link_to grant.name, grant %></td>
          <td><%= grant.background %></td>
          <td><%= grant.body %></td>
          <td><%= grant.grant_comments.count %>件</td>
          <td id="favorite-btn_<%= grant.id %>">
            <%= render "public/favorites/btn", grant: grant %></td>
          <td>
            <div class="d-flex align-items-center">
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</body>
</html>


