<!DOCTYPE html>
<html>
<head>
  <title>投稿一覧</title>
  <link rel="stylesheet" href="path/to/your/styles.css">
</head>
<body>

<div class="container">
  <h1 class="text-center py-5">投稿一覧</h1>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th></th>
        <th><span class="text-white">Name</span></th>
        <th><span class="text-white">Background</span></th>
        <th><span class="text-white">Body</span></th>
        <th><span class="text-white">Comment Count</span></th> <!-- 列名を修正 -->
      </tr>
    </thead>
    <tbody>
      <% @grants.each do |grant| %>
        <tr>
          <td><%= link_to grant.name, grant %></td>
          <td><span class="text-white"><%= grant.background %></span></td>
          <td><span class="text-white"><%= grant.body %></span></td>
          <td id="favorite-btn_<%= grant.id %>"><!-- いいね -->
            <%= render "public/favorites/btn", grant: grant %></td>
          <td>
            <div class="d-flex align-items-center">
              <span class="mr-2 align-middle text-white"><%= grant.grant_comments.count %></span>
              <span class="badge badge-primary align-middle text-white">Comments</span>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</body>
</html>



