<%= form_with model: @grant do |f| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center my-5">
        <h1>投稿</h1>
      </div>

      <% if @grant.errors.any? %>
        <%= @grant.errors.count %>件のエラーが発生しました
        <ul>
          <% @grant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="col-12 text-center mb-4">
        <h4>タグ</h4>
        <%= f.collection_select :tag_id, Tag.all, :id, :name, include_blank: "選択してください", class: "form-control" %>
      </div>

      <div class="col-12 text-center mb-4">
        <h4>名前</h4>
        <%= f.text_area :name, class: "form-control" %>
      </div>

      <div class="col-12 text-center mb-4">
        <h4>申請経緯</h4>
        <%= f.text_area :background, class: "form-control" %>
      </div>

      <div class="col-12 text-center mb-4">
        <h4>申請内容</h4>
        <%= f.text_area :body, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5 pb-5">
    <div class="form-inline mx-auto">
      <%= f.submit '更新', class: 'mr-5 btn btn-lg btn-custom-color text-white' %>
    </div>
  </div>
<% end %>
<style>
  .btn-custom-color {
    background-color: #007bff; /* 青色 */
    border: 2px solid #3498db; /* 枠線を付ける */
    color: #ffffff; /* 白色のテキスト */
  }

  .btn-custom-color:hover {
    background-color: #2980b9; /* ホバー時の色 */
    border-color: #2980b9; /* ホバー時の枠線色 */
  }
</style>