<!DOCTYPE html>
  <title>新規投稿</title>
  <link rel="stylesheet" href="path/to/your/styles.css">

<div class="container">
  <h1>新規投稿</h1>
  <%= form_with model: @grant do |f| %>
    <div class="form-section">
      <h4>補助金名</h4>
      <%= f.text_area :name, class: 'form-control' %>
    </div>
    <div class="form-section">
      <h4>申請経緯</h4>
      <%= f.text_area :background, class: 'form-control' %>
    </div>
    <div class="form-section">
      <h4>申請内容</h4>
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <div class="form-section">
      <h4>タグ</h4>
      <%= f.collection_select :tag_id, Tag.all, :id, :name, { prompt: 'タグを選択してください' }, class: 'form-control' %>
    </div>
    <div class="form-section">
      <style>
        .custom-link {
          border: 1px solid #0056b3; /* 枠線の色 */
          background-color: #0056b3; /* 背景色 */
          padding: 8px 12px;
          border-radius: 4px;
          color: white;
          text-decoration: none;
        }

        .custom-link:hover {
          background-color: #0056b3; /* ホバー時の背景色 */
        }
      </style>
      <%= f.submit '投稿する', :name => 'post', class: 'btn custom-link' %>
    </div>
  <% end %>
</div>