<!DOCTYPE html>
<html>
<head>
  <title>新規投稿</title>
  <link rel="stylesheet" href="path/to/your/styles.css">
</head>
<body>

<div class="container">
  <h1>新規投稿</h1>
  <%= form_with model: @grant do |f| %>
    <div class="form-section">
      <h4>補助金名</h4>
      <%= f.text_area :name, class: 'form-control' %>
    </div>
    <div class="form-section">
      <h4>申請経緯</h4>
      <%= f.text_area :background, class: 'form-control' %>
    </div>
    <div class="form-section">
      <h4>申請内容</h4>
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <div class="form-section">
      <h4>タグ</h4>
      <%= f.collection_select :tag_id, Tag.all, :id, :name, { prompt: 'タグを選択してください' }, class: 'form-control' %>
    </div>
    <div class="form-section">
      <%= f.submit '投稿する', :name => 'post', class: 'btn btn-warning text-white' %>
    </div>
  <% end %>
</div>

</body>
</html>