<!DOCTYPE html>
<html>
<head>
  <title>補助金詳細</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: #e6f2f8;">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="grant-details bg-light p-4 rounded">
          <h3 class="text-primary">補助金名</h3>
          <div><%= @grant.name %></div>
          <h3 class="text-primary mt-3">申請経緯</h3>
          <div><%= @grant.background %></div>
          <h3 class="text-primary mt-3">申請内容</h3>
          <div><%= @grant.body %></div>

          <% if @grant.user == current_user %>
            <div class="mt-3">
              <%= link_to "編集", edit_grant_path(@grant.id), class: 'btn btn-outline-success' %>
              <%= link_to "削除", grant_path(@grant.id), method: :delete, class: 'btn btn-outline-danger', "data-confirm" => "本当に削除しますか？" %>
            </div>
          <% end %>
        </div>

        <div class="comments bg-white mt-5 p-4 rounded">
          <h3 class="text-primary">コメント (<%= @grant.grant_comments.count %>)</h3>
          <% @grant.grant_comments.each do |grant_comment| %>
            <div class="comment mb-3 p-3 bg-light rounded">
              <strong><%= grant_comment.user.name %></strong>
              <p><%= grant_comment.comment %></p>
              <p><%= grant_comment.created_at.strftime('%Y/%m/%d') %></p>

              <% if grant_comment.user == current_user %>
                <%= link_to "削除", grant_grant_comment_path(grant_comment.grant, grant_comment), method: :delete, class: 'btn btn-danger text-white' %>
              <% end %>
            </div>
          <% end %>

          <div class="comment-form mt-4">
            <%= form_with model: [@grant, @grant_comment] do |f| %>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
              <%= f.submit "送信する", class: 'btn btn-primary text-white' %>
            <% end %>
            <%= link_to grants_path(@grant), class: 'mt-3 d-block text-primary' do %>
            　一覧へ戻る
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>