<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><span class="text-white"><%= link_to user.name, grants_path(grant) %></span></td>
        </tr>
      <% end %>
    </tbody>
  <% elsif @range == "Grant" %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがgrantの時) -->
    <tbody>
      <% @grants.each do |grant| %>
        <tr>
          <td><span class="text-white"><%= link_to grant.name, grant %></span></td>
          <td><span class="text-white"><%= grant.background %></span></td>
          <td><span class="text-white"><%= grant.body %></span></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
  <!--検索対象モデルがGrantではない時(= 検索対象モデルがtagの時)-->
     <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><span class="text-white"><%= tag.name %></span></td>
        </tr>
       <% end %>
      </tbody>
  <% end %>
</table>