<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="path/to/your/styles.css">
</head>
<body>

<div class="container">
  <h1 class="text-center py-5" style="color: white;"></h1>
  <h2 style="text-align: center; text-decoration: underline; color: white;">新着投稿一覧</h2>

  <div class="table-responsive">
    <table class='table table-hover table-inverse' style='width: 100%;'>
      <thead>
        <tr>
          <th style="color: white;">補助金名</th>
          <th style="color: white;">タグ</th>
          <th style="color: white;">申請経緯</th>
          <th style="color: white;">申請状況</th>
          <th style="color: white;">コメント</th>
          <th style="color: white;">いいね</th>
        </tr>
      </thead>
      <tbody>
        <% @grants.each do |grant| %>
          <tr>
            <td><%= link_to grant.name, grant %></td>
            <td style="color: white;"><%= grant.tag.name %></td>
            <td style="color: white;"><%= grant.background %></td>
            <td style="color: white;"><%= grant.body %></td>
            <td style="color: white;"><%= grant.grant_comments.count %>件</td>
            <td id="favorite-btn_<%= grant.id %>">
              <%= render "public/favorites/btn", grant: grant %></td>
            <td>
              <div class="d-flex align-items-center">
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>