<%= form_with model: @tag, url: admin_tags_path do |f| %>
  <%= f.label "タグ名" %>
  <%= f.text_field :name %>
  <%= f.submit "新規登録", class: "btn btn-custom-color" %>
<% end %>

<table class="table mt-5 w-50" style="color: white;">
  <thead style="background-color: #d3d3d3; text-align: center;">
    <tr>
      <th style="color: black;">タグ</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to "編集する", edit_admin_tag_path(tag), class: "btn btn-custom-color py-0 " %></td>
        <td><%= link_to "削除", admin_tag_path(tag), method: :delete, class: "btn btn-custom-color py-0", "data-confirm" => "本当に削除しますか？" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
  .btn-custom-color {
    background-color: #007bff;
    border: 2px solid #3498db;
    color: #ffffff;
  }

  .btn-custom-color:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }
</style>