<div class="container px-4">
  <div class="row justify-content-center my-4">
    <div class="col-sm-6">
      <span class="new-registration">新規会員登録</span>
    </div>
  </div>

  <%= form_with model: @user, url: user_registration_path do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="row p-2">
      <div class="col-md-6">
        <%= f.label :法人形態 %>
        <%= f.text_field :company_from, autofocus: true, placeholder: "例　株式会社(個人事業主の方は屋号)", class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :法人名 %>
        <%= f.text_field :name, placeholder: "□△商事（個人事業主の方は氏名）", class: "form-control" %>
      </div>
    </div>

    <div class="row p-2">
      <div class="col-md-6">
        <%= f.label :フリガナ %>
        <%= f.text_field :name_kana, placeholder: "シカクサンカクショウジ", class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :法人番号 %>
        <%= f.text_field :company_number, placeholder: "0000000000000", class: "form-control" %>
      </div>
    </div>

    <div class="row p-2">
      <div class="col-md-6">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :"郵便番号(ハイフンなし)" %>
        <%= f.text_field :post_code, placeholder: "0000000", class: "form-control" %>
      </div>
    </div>

    <div class="row p-2">
      <div class="col-md-6">
        <%= f.label :住所 %>
        <%= f.text_field :address, placeholder: "東京都渋谷区神園町0-0", class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :"電話番号(ハイフンなし)" %>
        <%= f.text_field :phonenumber, placeholder: "0000000000", class: "form-control" %>
      </div>
    </div>

    <div class="row p-2">
      <div class="col-md-6">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :"パスワード(確認用)" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>
    <style>
.custom-button {
  border: 1px solid #28a745; /* 枠線の色 */
  background-color: #28a745; /* 背景色 */
  color: #ffffff; /* テキストの色 */
}

.custom-button:hover {
  background-color: #218838; /* ホバー時の背景色 */
}
</style>
   <div class="row justify-content-start">
  <div class="col-4 m-auto">
    <button type="submit" class="btn btn-success btn-sm custom-button">新規登録</button>
  </div>
</div>
  <% end %>

  <div class="row justify-content my-4">
    <div class="col-sm-6">
      <span class="registered-users">既に登録済みの方</span>
      <p><%= render "public/shared/links" %>からログインを行ってください。</p>
    </div>
  </div>
</div>