<div class="container text-center" style="background-color: #f0f6fa; padding: 20px;">
  <h1 class="py-5" style="color: #3498db;">投稿一覧</h1>

  <div class="row justify-content-center">
    <div class="dropdown col-lg-3">
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% @tags.each do |tag| %>
          <a><%= link_to tag.name, grants_path(tag_id: tag.id), class: "text-decoration-none text-dark rounded p-2", style: "background-color: #d1d8e0;" %></a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container my-3">
    <div class="row">
      <% @grants.each do |grant| %>
        <div class="card-group col-lg-4">
          <div class="card my-3" style="border-color: #3498db;">
            <div class="card-body">
              <div class="card-title">
                <%= link_to grant.name, admin_grant_path(grant), class: "text-dark", style: "color: #3498db;" %>
              </div>
              <div class="card-text"><%= grant.user.name %></div>
              <div class="card-text"><%= grant.favorites.count %> 保存</div>
              <%= link_to admin_grant_path(grant) do %>
                <p class="card-text" style="color: #2980b9;">コメント件数：<%= grant.grant_comments.count %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

   <%= paginate @paginated_grants %>

 <h4 style="color: black;">投稿数の前日比・前週比</h4>
<div class="table_width">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="color: black;">今日の投稿</th>
        <th style="color: black;">昨日の投稿</th>
        <th style="color: black;">前日比</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="color: black;"><%= @today_grant.count %></td>
        <td style="color: black;"><%= @yesterday_grant.count %></td>
        <% if @yesterday_grant.count == 0 %>
          <td style="color: black;">前日の投稿はなし</td>
        <% else %>
          <td style="color: black;">
            <% @the_day_before = @today_grant.count.to_f / @yesterday_grant.count %>
            <%= (@the_day_before * 100).round %>%
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="color: black;">今週の投稿</th>
        <th style="color: black;">先週の投稿</th>
        <th style="color: black;">先週比</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="color: black;"><%= @this_week_grant.count %></td>
        <td style="color: black;"><%= @last_week_grant.count %></td>
        <% if @last_week_grant.count == 0 %>
          <td style="color: black;">先週の投稿はなし</td>
        <% else %>
          <td style="color: black;">
            <% @the_week_before = @this_week_grant.count.to_f / @last_week_grant.count %>
            <%= (@the_week_before * 100).round %>%
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
 </div>