<div class="container text-center" style="background-color: #f0f6fa; padding: 20px;">
  <h1 class="py-5" style="color: #3498db;">投稿一覧</h1>
  <div class="row justify-content-center">
    <div class="dropdown col-lg-3">

      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% @tags.each do |tag| %>
          <a><%= link_to tag.name, grants_path(tag_id: tag.id), class: "text-decoration-none text-dark rounded p-2", style: "background-color: #d1d8e0;" %></a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container my-3">
    <div class="row">
      <% @grants.each do |grant| %>
        <div class="card-group col-lg-4">
          <div class="card my-3" style="border-color: #3498db;">
            <div class="card-body">
              <div class="card-title"><%= link_to grant.name, admin_grant_path(grant), class: "text-dark", style: "color: #3498db;" %></div>
              <div class="card-text"><%= grant.user.name %></div>
              <div class="card-text"><%= grant.favorites.count %> 保存</div>
              <%= link_to admin_grant_path(grant) do %>
                <p class="card-text" style="color: #2980b9;">コメント件数：<%= grant.grant_comments.count %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>