<div class="container" style="background-color: #f0f6fa;">
  <div class="row justify-content-center">
    <div class="col-12 text-center my-5">
      <h1 style="color: #3498db;">投稿詳細</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 text-center my-3">
      by <%= link_to @grant.user.name, admin_user_path(@grant.user.id), class: "text-decoration-none text-dark" %>
    </div>
    <div class="col-md-4 text-center my-3">
      <%= @grant.favorites.count %> 保存
    </div>
    <div class="col-md-4 text-center my-3">
      <h4 style="color: #3498db;">タグ</h4>
      <% if @tag %>
        <div><%= @tag.name %></div>
      <% else %>
        <div>タグなし</div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center my-3">
      <h4 style="color: #3498db;">補助金名</h4>
      <div><%= @grant.name %></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center my-3">
      <h4 style="color: #3498db;">申請経緯</h4>
      <div><%= @grant.background %></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center my-3">
      <h4 style="color: #3498db;">申請内容</h4>
      <div><%= @grant.body %></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-right my-3">
      <p style="color: #3498db;">コメント件数：<%= @grant.grant_comments.count %></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 overflow-auto" style="max-width: 600px; margin: 0 auto;">
      <% @grant.grant_comments.each do |grant_comment| %>
        <div class="row my-2">
          <div class="col-md-4 text-center">
            <p><%= grant_comment.user.name %></p>
          </div>
          <div class="col-md-4 d-flex align-items-center text-break">
            <p><%= grant_comment.created_at.strftime('%Y/%m/%d') %></p>
            <p><%= grant_comment.comment %></p>
          </div>
          <div class="col-md-4 text-center d-flex align-items-center">
            <%= link_to "削除", admin_grant_grant_comment_path(grant_comment.grant, grant_comment), method: :delete, data: { confirm: "このコメントを削除しますか？" }, class: 'btn btn-md btn-danger text-white' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>