<p id="notice"></p>
<div class="container">
  <div class="row mt-4 mb-5">
    <h4 class="col">マイページ</h4>
    </div>

    <h5 class="col"><%= @user.name %></h5>

  <div class="row mb-3">
  <div class="col-md-2">
    <strong>登録情報</strong>
  </div>
  <style>
  .btn-custom-color {
    background-color: #007bff; /* 青色 */
    border: 2px solid #3498db; /* 枠線を付ける */
    color: #ffffff; /* 白色のテキスト */
  }

  .btn-custom-color:hover {
    background-color: #2980b9; /* ホバー時の色 */
    border-color: #2980b9; /* ホバー時の枠線色 */
  }
</style>
  <div class="col-md-4">
    <%= link_to "編集する", edit_user_path, class: "btn btn-sm btn-custom-color" %>
  </div>
</div>


 <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered">

        <tr>
          <th class="bg-light col-md-2">法人名</th><td class="col-md-5" style="color: white;"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="bg-light col-md-2">フリガナ</th><td class="col-md-5" style="color: white;"><%= @user.name_kana %></td>
        </tr>
        <tr>
          <th class="bg-light col-md-2">法人番号</th><td class="col-md-5" style="color: white;"><%= @user.company_number %></td>
        </tr>
        <tr>
          <th class="bg-light col-md-2">郵便番号</th><td class="col-md-5" style="color: white;"><%= @user.post_code %></td>
        </tr>
        <tr>
          <th class="bg-light col-md-2">住所</th><td class="col-md-5" style="color: white;"><%= @user.address %></td>
        </tr>
        <tr>
          <th class="bg-light col-md-2">電話番号</th><td class="col-md-5" style="color: white;"><%= @user.phonenumber %></td>
        </tr>
        <tr>
          <th class="bg-light col-md-2">メールアドレス</th><td class="col-md-5" style="color: white;"><%= @user.email %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-2">
      <strong>投稿履歴</strong>
    </div>
    <div class="col-md-2">
      <%= link_to "一覧を見る", grants_path, class: "btn btn-primary btn-sm btn-custom-color" %>
    </div>
    <% if user_signed_in? %>
      <div class="col-lg-3">
        <%= link_to "投稿する", new_grant_path, class: 'btn btn-md btn-custom-color' %>
      </div>
    <% end %>
  </div>

</div>