<!DOCTYPE html>
<html>
<head>
  <title>Hojoraku2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://kit.fontawesome.com/4dbb6962d5.js" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 <style>

   body {
  background-color: #223344;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

header {
  background-color: #2980b9;
  padding: 10px;
  color: #ecf0f1;
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
}

.form-control {
  background-color: #d1d8e0;
  color: #34495e;
  border: none;
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
}

.btn {
  background-color: #3498db;
  color: #ecf0f1;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2980b9;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.navbar-nav li {
  border: none;
  margin: 0 0.25rem;
}

.navbar-nav li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-nav li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }
  .navbar-nav li {
    margin: 0.5rem 0;
    text-align: center;
  }
  .navbar-nav li a {
    padding: 0.5rem 1rem;
  }
}

footer {
  background-color: #2980b9;
  color: #ecf0f1;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 20px;
}
 </style>
</head>
<body>
  <header>
    <div>
      <h2><%= link_to 'hojoraku', root_path, class: "text-light text-decoration-none" %></h2>
    </div>

    <nav class="navbar-nav ml-auto">
      <div class="col-lg-4 d-flex justify-content-center">
        <%= render 'public/searches/search', grants: @grants, users: @users, tags: @tags %>
      </div>

        <ul class="navbar-nav ml-auto list-inline">
  <!-- 管理者がログインしている場合-->
  <% if admin_signed_in? %>
    <li class="d-inline-block">
      <%= link_to "会員一覧", admin_root_path, class: "text-light mx-2" %>
    </li>

    <li class="d-inline-block">
      <%= link_to "投稿一覧", admin_grants_path, class: "text-light mx-2" %>
    </li>

    <li class="d-inline-block">
      <%= link_to "タグ一覧", admin_tags_path, class: "text-light mx-2" %>
    </li>

    <li class="d-inline-block">
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-light mx-2" %>
    </li>

  <!-- ユーザー（会員）がログインしている場合 -->
  <% elsif user_signed_in? %>
    <li class="d-inline-block">
      <%= link_to "投稿一覧", grants_path, class: "text-light mx-2" %>
    </li>

    <li class="d-inline-block">
      <%= link_to "マイページ", user_path(current_user), class: "text-light mx-2" %>
    </li>

    <li class="d-inline-block">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-light mx-2" %>
    </li>

  <!-- ログインしていない場合 -->
  <% else %>
    <li class="d-inline-block">
      <%= link_to "投稿一覧", grants_path, class: "text-light mx-2" %>
    </li>

    <li class="d-inline-block">
      <%= link_to "新規登録", new_user_registration_path, class: "text-light mx-2" %>
    </li>

    <li class="d-inline-block">
      <%= link_to "ログイン(利用者)", new_user_session_path, class: "text-light mx-2" %>
    </li>

    <li class="d-inline-block">
      <%= link_to "ログイン(管理者)", new_admin_session_path, class: "text-light mx-2" %>
    </li>
  <% end %>
</ul>
    </nav>
  </header>

  <main style="border-bottom: 1px solid #ccc;">
  <%= yield %>
</main>

<footer style="background-color: #f0f6fa; border-top: 1px solid #ccc;">
  <div class="text-center py-2">
    <h4 class="logo"><%= link_to 'hojoraku', root_path, class: "text-black text-decoration-none" %></h4>
  </div>
</footer>
</body>
</html>