<!DOCTYPE html>
<html>
<head>
  <title>Hojoraku2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 <style>
    body {
      background-color: #223344;
      font-family: Arial, sans-serif;
      color: #ffffff;
    }
    header {
      background-color: #2980b9;
      padding: 10px;
      color: #ecf0f1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .search-form {
      display: flex;
      align-items: center;
    }
    .form-control {
      background-color: #d1d8e0;
      color: #34495e;
      border: none;
      padding: 8px;
      margin-right: 10px;
      border-radius: 4px;
    }
    .btn {
      background-color: #3498db;
      color: #ecf0f1;
      border: none;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
    }
    .btn:hover {
      background-color: #2980b9;
    }
    .navbar-nav {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .nav-item {
      margin: 0 10px;
    }
    footer {
      background-color: #2980b9;
      color: #ecf0f1;
      text-align: center;
      padding: 20px;
    }

    body, header, .btn, .navbar-nav li a, footer {
      background-color: #223344;
    }
    .btn, .navbar-nav li a, footer {
      color: #ffffff;
    }
 </style>
</head>
<body>
  <header>
    <div>
      <%= link_to 'hojoraku', root_path, class: "text-light text-decoration-none" %>
    </div>

    <nav class="navbar-nav ml-auto">
      <div class="col-lg-4 d-flex justify-content-center">
        <%=render 'public/searches/search', grants: @grants, users: @users %>

      </div>

        <ul class="navbar-nav ml-auto">
      <!-- 管理者がログインしている場合-->
        <% if admin_signed_in? %>
          <li>
            <%= link_to "会員一覧", admin_root_path, class: "text-light mx-5" %>
          </li>

          <li>
            <%= link_to "投稿一覧", admin_grants_path, class: "text-light mx-5" %>
          </li>

          <li>
            <%= link_to "タグ一覧", admin_tags_path, class: "text-light mx-5" %>
          </li>

          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-light mx-5" %>
          </li>

      <!--ユーザー（会員）がログインしている場合 -->
        <% elsif user_signed_in? %>
          <li>
            <%= link_to "投稿一覧", grants_path, class: "text-light mx-5" %>
          </li>

          <li>
            <%= link_to "マイページ", user_path(current_user), class: "text-light mx-5" %>
          </li>

          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-light mx-5" %>
          </li>

      <!-- ログインしていない場合 -->
        <% else %>
          <li>
            <%= link_to "投稿一覧", grants_path, class: "text-light mx-5" %>
          </li>

          <li>
            <%= link_to "新規登録", new_user_registration_path, class: "text-light mx-5" %>
          </li>

          <li>
            <%= link_to "ログイン", new_user_session_path ,class: "text-light mx-5" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <div class="text-center pt-5">
      <h4 class="logo"><%= link_to 'hojoraku', root_path, class: "text-dark text-decoration-none" %></h4>
      <p>プライバシーポリシー｜よくあるご質問｜お問い合わせ｜店舗案内</p>
    </div>
  </footer>
</body>
</html>